
<div class="author">
    <h1>Hi, I am Rady.</h1>
    <p>Web developer and content creator</p>
</div>

<img src="/img/person_looking.jpg" alt="person looking out through window" class="hero-image">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="list-articles">
       <li>
            <span>Post title</span>
            <span>Date</span>
       </li>
    </ul>

   
</section>

